<!-- templates/add_to_cart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
</head>
<body>
    <h1>Add to Cart</h1>
    <form method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить в корзину">
        <p><a href="{% url 'place_order' %}">Place order</a></p>
        <p><a href="{% url 'home' %}">Home</a></p>
    </form>
</body>
</html>
