<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} OnlineStore {% endblock %}</title>
</head>
<body>
    <header>
        <h1>OnlineStore</h1>
        <nav>
            <hr>
                {% if user.is_authenticated %}
                <p>Hi {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.email }}{% endif %}!</p>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">Log Out</button>
                </form>
            {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            <hr>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                <li><a href="{% url 'add_to_cart' %}">Add to cart</a></li>
                <li><a href="{% url 'place_order' %}">Place order</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 OnlineStore</p>
    </footer>
</body>
</html>
